.service-card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  /*overflow-y: auto;*/
  flex-grow: 1;
  margin-bottom: 2rem;
  grid-auto-rows: minmax(6rem, 9rem);
  width: 100%;
}

.h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--black);
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  align-self: flex-start;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--grey);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--black);
  text-align: center;
  transition: border-color 0.2s ease-in;
}

.service-card:hover {
  cursor: pointer;
  border: 2px solid var(--blue);
}

.service-card h5 {
  margin-top: 0.5rem;
}

.service-card.selected {
  border: 2px solid var(--blue);
}

@media screen and (min-width: 768px) {
  .service-card-list {
    margin-top: 1rem;
    padding: 0 1rem;
  }
}

/*.service-card-list::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

/*.service-card-list {*/
/*  -ms-overflow-style: none;  !* IE and Edge *!*/
/*  scrollbar-width: none;  !* Firefox *!*/
/*}*/

.service-icon {
  width: 48px;
  height: 48px;
}
